aside1,aside2,aside3
{
float:left;
}

aside1:hover,aside2:hover,aside3:hover,aside4:hover,aside5:hover,aside6:hover
{
	background-color: #C1C1C1;
}

aside1
{
position:absolute;
left:10px;
}
aside3
{
position:absolute;
right:10px;
}
aside2
{
position:absolute;
left:440px;
}
aside4,aside5,aside6
{
float:left;
}
aside4
{
position:absolute;
top:400px;
left:10px;
}
aside5
{
position:absolute;
top:400px;
right:10px;
}
aside6
{
position:absolute;
top:400px;
left:440px;
}
