@font-face {
	font-family: 'lobster';
	src: url('Lobster_1.3.otf');
	font-weight: lighter;
}

*
{
	margin: 0;
	padding: 0;
}

/*
Partie header
*/

header
{
	position: static;
	height: 75px;
	width: 100%;
	border-bottom: 1px solid rgb(12,59,102);
	position: relative;
	background-color: rgb(27,120,209);
}

#nav-logo
{
	position: absolute;
	top: 5px;
	left: 15px;
	float: left;
}

#nav
{
	height: 75px;
	position: absolute;
	width: auto;
	right: 0px;
}

#nav li 
{
	display: inline-block;
	list-style-type: none;
	line-height: 75px;
}

.header-link
{
	display: block;
	height: 100%;
	padding: 0 5px;
	text-decoration: none;
	font-size: 17px;
	font-family: lobster, Arial, sans-serif;
	color: white;
	width:8em;
	text-align:center;
}

.header-link:hover
{
	background-color: rgb(27,155,230);
	color: rgb(180,180,180);
	border-radius: 40px;
}

/*
Fin de la partie header
*/

/*
Partie Slider
*/

#slideshow 
{  
    position: relative;  
    width: 640px;  
    height: 310px;  
    padding: 15px;  
    margin: 2em auto 2em;  
    border: 1px solid #ddd;  
    background: #FFF;  
    /* CSS3 effects */  
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);  
    border-radius: 5px 5px 5px 5px;  
    box-shadow: 0 0 1em rgba(0,0,0, 0.2);  
}  
   
/* avanced box-shadow */  
#slideshow:before,  #slideshow:after 
{  
    position: absolute;  
    bottom:16px;  
    z-index: -10;  
    width: 50%;  
    height: 20px;  
    content: " ";  
    background: rgba(0,0,0,0.1);  
    border-radius: 50%;  
    box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);  
}  
#slideshow:before 
{  
    left:0;  
    transform: rotate(-5deg);  
}  
#slideshow:after 
{  
    right:0;  
    transform: rotate(5deg);  
} 

/* gestion des dimensions et débordement du conteneur */  
#slideshow .container 
{  
    position:relative;  
    width: 640px;  
    height: 310px;  
    overflow: hidden;  
}  
      
/* on prévoit un petit espace gris pour la timeline */  
#slideshow .container:after 
{  
    position:absolute;  
    bottom: 0; left:0;  
    content: " ";  
    width: 100%;  
    height: 1px;  
    background: #999;  
}  
/*  
   le conteneur des slides 
   en largeur il fait 100% x le nombre de slides 
*/  
#slideshow .slider 
{  
    position: absolute;  
    left:0; top:0;  
    width: 400%;  
    height: 310px;  
}  
  
/* annulation des marges sur figure */  
#slideshow figure 
{  
    position:relative;  
    display:inline-block;  
    padding:0; margin:0;  
}  
/* petit effet de vignette sur les images */  
#slideshow figure:after 
{  
    position: absolute;  
    display:block;  
    content: " ";  
    top:0; left:0;  
    width: 100%; height: 100%;  
    box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;  
} 









/*
Fin de la partie Slider
*/

/*
Partie barre de recherche
*/

#recherche
{
	position: static;
	height: 87px;
	width: 100%;
	background-color: rgb(27,120,209);
}

#recherche-simple
{
	position: relative;
	line-height: 80px;
	height: 100%;
	padding: 0 33px;
	float: left;
	border-right: 1px solid rgb(12,59,102);
}

label
{
	float: left;
	line-height: 87px;
	height: 100%;
	width: 120px;
	font-size: 20px;
	font-family: "Century Gothic", Arial, sans-serif;
	color: white;
}

.search
{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 0px;
	height: 45px;
	font-size: 19px;
	font-family: "Century Gothic", Arial, sans-serif;
	width: 327px;
}

.submit
{
	height: 50px;
	margin-top: 20px;
	font-size: 19px;
	font-family: "Century Gothic", Arial, sans-serif;
	color: ;
	border: 1px solid #EFEFEF;
	background-color: white;
	padding: 0 5px;
	margin-left: 0px;
}

#recherche-avancee, #informations
{
	display: block;
	height: 100%;
	width: auto;
	float: left;
	line-height: 90px;
	padding: 0 20px;
	color: white;
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 20px;
	text-decoration: none;
	border-right: 1px solid rgb(12,59,102);
}

#informations
{
	padding: 0 24px;
	border-right: none;
}

/*
Fin de la partie barre de recherche
*/

/* 
Partie informations
*/

#infos 
{
	height: 750px;
	width: 100%;
	background-color: rgba(200,200,0,0.6);
}

/*
Fin de la partie informations
*/

/* 
Partie footer
*/

footer
{
	height: 200px;
	width: 100%;
	background-color: rgb(21,72,145);
	position: relative;
}

.footer_link
{
	color: white;
	font-family: Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 30px 0;
}

#fb
{
	float:left;
	width: 50px;
}

#twitter
{
	float: right;
	width: 50px;
}

#clear
{
	clear: left;
}

#footer-logo
{
	width: 100px;
	margin: 0 auto;
}

.footerxlink
{
	padding-top: 30px;
	text-align: center;
	color: white;
}

.footer-link
{
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: white;
	text-decoration: none;
}










